.item{
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    margin: 8px;
    padding: 8px;
    border: 1px dashed slategrey;
}

.img{
    height: 150px;
}
.bottom{

}

.item-name{
    float: left;
}
.item-priceWrapper{
    &-name{
        float: right;
    }

    &-addBtn{
        float: right;
    }
}
